.DS_Store
*~

XPI/data/reddit_enhancement_suite.user.js
XPI/reddit_res.xpi

RES.safariextension/reddit_enhancement_suite.user.js

Chrome/reddit_enhancement_suite.user.js
Chrome/libs/**
Chrome/modules/**
Chrome.pem

Opera/includes/reddit_enhancement_suite.user.js

IE/RESIE.sdf
