firefox/data/reddit_enhancement_suite.user.js
firefox/*.png

safari/reddit_enhancement_suite.user.js
safari/*.png

chrome/reddit_enhancement_suite.user.js
chrome/guiders-1.2.8.js
chrome/jquery-1.6.4.min.js
chrome/jquery-fieldselection.min.js
chrome/jquery.dragsort-0.4.3.min.js
chrome/jquery.tokeninput.js
chrome/snuownd.js
chrome/tinycon.min.js
chrome/*.png

opera/includes/reddit_enhancement_suite.user.js
opera/*.png

ie/RESIE.sdf
ie/Debug/*
ie/Release/*

*.crx
*.pem
*.xpi

*~
.DS_Store

build/*