.DS_Store
firefox/data/reddit_enhancement_suite.user.js
safari/reddit_enhancement_suite.user.js
chrome/reddit_enhancement_suite.user.js
opera/includes/reddit_enhancement_suite.user.js
ie/RESIE.sdf
ie/Debug/*
ie/Release/*
*~
